KREA_API_KEY=4ba92876-ad5c-4c0d-9877-baf2953ee4a0:g5GGILFA0jpC-lcysurp8r9VMSOYPNRg

NEXT_PUBLIC_SUPABASE_URL=https://vhyougpjvawjldblsobt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kzbgFvBtFsCERakX9-fE2g_sOmjt8c4
