# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://vhyougpjvawjldblsobt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoeW91Z3BqdmF3amxkYmxzb2J0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTc4ODQsImV4cCI6MjA5ODA3Mzg4NH0.WrepN-vBMYnC6OoqkcFqWYoDfXCpl7iU3JcQkwX_LPQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoeW91Z3BqdmF3amxkYmxzb2J0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQ5Nzg4NCwiZXhwIjoyMDk4MDczODg0fQ.6hQXfdXrrCpXFqs7VS8jNzx-Tg-qH1ac93R29uISm8E

# Stripe
STRIPE_SECRET_KEY=sk_test_51TmiHiD8OF4eTvOdGdPCkQGLApuyR30DUXXIcybNu8p6aFvOe4vned2LUsl0C0bZNoGLjlAC2wHPIqoOqLduHKBw00EMFrCZjV
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TmiHiD8OF4eTvOdBRybvdZRbsDm4xgH1aSVyb4KXBzqLxzcPJwDugz5B1ysO5Cm4BiYWZBkQ0nQNAT7fwvQfJWV00hcpyWCsW

# AI Providers
REPLICATE_API_TOKEN=r8_1Uuu4CFeW7Np941LQjxqknIiJ3TxQ8j1DOIFr
FAL_KEY=f0800fee-3176-493e-be82-47dfa51963f9:8d58d4c59a390f4bf4374b70fb306ad2
ELEVENLABS_API_KEY=sk_d59b7b37fec6ca7ae274926494034744b1b7c2b27c200bc1
RUNWAY_API_KEY=key_4593f29e0d9d801fcd50ff2bab58875b03200f1830c2b8ad951d260f4f0356fbb62d69d4db3a2bf1ac1068039b2b74fc0c51c243340dbaf396364392d8e30475
OPENAI_API_KEY=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

# Observability
NEXT_PUBLIC_APP_URL=http://localhost:3000
