@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 60% 5%;
    --foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
  }

  body {
    background-color: #0D0622;
    color: white;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}